# Ignore everything by default.
*

# Explicitly allow go files.
!*.go
!go.mod
!go.sum

# No need to upload the documentation file.
doc.go

# Explicitly allow current dir. `gcloud deploy` fails without it.
!.
