# DNSimple DK Hostmaster DS upload

[![GoDoc](https://godoc.org/github.com/reload/dnsimple-dk-hostmaster-ds-upload?status.svg)](https://godoc.org/github.com/reload/dnsimple-dk-hostmaster-ds-upload)

{{ .Doc }}

{{if .Bugs}}
## Bugs
{{range .Bugs}}* {{.}}{{end}}
{{end}}
