# DNSimple DK Hostmaster DS upload

[![Maintainability](https://api.codeclimate.com/v1/badges/d52ce2eb6e8da96700a7/maintainability)](https://codeclimate.com/github/reload/dnsimple-dk-hostmaster-ds-upload/maintainability)
[![Go Report Card](https://goreportcard.com/badge/github.com/reload/dnsimple-dk-hostmaster-ds-upload)](https://goreportcard.com/report/github.com/reload/dnsimple-dk-hostmaster-ds-upload)
[![GoDoc](https://godoc.org/github.com/reload/dnsimple-dk-hostmaster-ds-upload?status.svg)](https://godoc.org/github.com/reload/dnsimple-dk-hostmaster-ds-upload)

{{ .Doc }}

{{if .Bugs}}
## Bugs
{{range .Bugs}}* {{.}}{{end}}
{{end}}
