# DNSimple Punktum DS upload

[![Go reference](https://pkg.go.dev/badge/github.com/reload/dnsimple-punktum-dk-ds-upload)](https://pkg.go.dev/github.com/reload/dnsimple-punktum-dk-ds-upload)

{{ .Doc }}

{{if .Bugs}}
## Bugs
{{range .Bugs}}* {{.}}{{end}}
{{end}}
